<div class="background-grey">
<!--   <img src="" alt="Cocktail"> -->
  <h1>More infos on <%= @cocktail.name %></h1>
  <p> Add this:
    <% @cocktail.doses.each do |dose|%>
    <%= dose.description %>  <%= dose.ingredient.name %>
    <%= link_to "Delete dose", dose_path(dose), method: :delete %>
    <% end %>
  </p>
  <%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %>
  <%= link_to "back to cocktails", cocktails_path %>
</div>
<p>
  <span id="banner-typed-text"></span>
</p>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> From Jeremy
  </div>
</div>
